@media screen and (min-width : 320px) {
    .content_container{
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        height: 100%;
        margin: 15px auto;
        max-height: 308px;
        max-width: 312px;
        width: 100%;
        .image-container{
            border-radius: 4px 4px 0 0;
            height: 232px;
            overflow: hidden;
            position: relative;
            width: 312px;
            .person-image{
                
                border-radius: 8px 8px 0 0;
                bottom: 0;
                // height: 100%;
                left: 0;
                margin: auto;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
        .info-container{
            text-align: start;
            .fullname{
                color: rgba(0, 0, 0, 0.87);
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                margin: 12px 16px 1px 16px;
                letter-spacing: 0.15px;
            }
            .type-of-person{
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.25px;
                margin: 1px 16px 12px 16px;
                padding-bottom: 12px;
            }
        }
    }
    .fb-login-button{
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 15px;
    }
}


@media screen and (min-width : 768px) {
    .content_container{
        margin: 20px 24px;
        max-height: 244px;
        max-width: 240px;
        .image-container{
            height: 168px;
            width: 240px;
        }
        .info-container{
            .type-of-person{
                padding-bottom: 0;
            }
        }
    }
    .fb-login-button{
        left: auto;
        right: 15px;
    }
}
a {
    text-decoration: none;
}